<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="CertificateName" value="CN=WWW.ALECCHAN.COM"/>
  </appSettings>
 <connectionStrings>
      <add name="WingtipToys" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=WingtipToys;Integrated Security=False;user=Joe;pwd=pb+H99ScTSHXviBrrMg4yTE5jGyXgGMIMjxD7INoG95O0jOHGJbGXWgc/Tg+E40ZCBsnKySDtMwWAFHxm7bKwjKx7Yjr79hS9fTEBsGVihiGX1CVK4JvuSktPfj4Dq6BHzPNvUTtDp30HpH8KnNheqSKO1B2ALDN3EXru7+fnyzG2+h6JetOYvUKkl1SBoudNqCcEk6A5M1EQZ2lW/uQdXf3imZfZ8hPcwlFe2b51AKVeQO9WK358Tt+izwvZtSykoqaOn4jvzhXNhLQ85R0Rs2rA5Ad/dKXU641PWR3Mgfi0SqZt7xivkUUv+MjRJ7IOlb8k91u/JQuF6m309sBrw==" />
    </connectionStrings>
</configuration>